@import url(https://fonts.googleapis.com/css2?family=Merriweather&family=Inter);

body,
html,
input,
button,
select,
option,
textarea,
::placeholder {
  font-family: "Inter", sans-serif;
  color: #2d3833;
}
body,
html {
  background: oldlace;
}
h1,
h2 {
  font-family: "Merriweather", serif;
}
textarea {
  font-family: "Inter", sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
}
input,
button,
textarea,
select {
  border: 1px solid #80988f;
  border-radius: 2px;
}
.translate-button {
  background-color: darkseagreen;
  padding: 4px;
}
h1 {
  margin-block: 12px;
}
h2 {
  margin-block: 8px;
}
.main-options {
  margin-block: 4px;
}
.side-options {
  float: right;
}
.dlog {
  display: none;
  background: lightblue;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  padding: 10px;
  transform: translate(-50%, -50%);
  z-index: 9;
  overflow: auto;
}
.abc svg {
  margin-top: 10px;
  max-width: 100%;
  box-sizing: border-box;
  background: #f8f8f8;
  display: block;
  cursor: pointer;
}
